html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.main-container {
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
}

/* Media query for tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        border-width: 4px;
        padding: 15px;
    }
}

/* Media query for large mobile phones and small tablets */
@media (min-width: 600px) and (max-width: 767px) {
    .main-container {
        border-width: 4px;
        padding: 12px;
    }
}

/* Media query for smaller mobile devices */
@media (max-width: 599px) {
    .main-container {
        border-width: 3px;
        padding: 8px;
    }
}

/* Media query for smaller devices to show capture info responsive*/
@media (max-width: 600px) {
    .capture-container {
        height: 200px;
    }
}

header {
    background: #FF0000;
    color: #fefefe;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .nav-bar a {
        color: #fefefe !important;
        text-decoration: none;
    }

.btn-custom {
    background-color: #0056b3;
    color: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

    .btn-custom:active {
        transform: scale(0.95);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }

    .btn-custom:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }
